<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Warframeprimehunt"
            tools:targetApi="33">
        <activity
                android:name=".PrimeApplication"
                android:exported="true"
                android:theme="@style/Theme.Warframeprimehunt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.HelpActivity"
                android:exported="false"
                android:label="@string/help"/>
        <activity
                android:name=".activity.SetListActivity"
                android:exported="false"
                android:label="@string/menu_prime_sets">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".activity.RelicListActivity"
                android:exported="false"
                android:label="@string/menu_relics">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".activity.OtherListActivity"
                android:exported="false"
                android:label="@string/menu_other_prime">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:exported="false">
        </activity>
    </application>

</manifest>